.DS_Store
node_modules/
/dist/
/docs/
/coverage/
jenkins-test-results.xml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.keep
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
