.DS_Store
.happypack/
node_modules/
npm-debug.log
.idea/
dist
private
public
run
*.iml
*tmp
_site
logs
.vscode
config/manifest.json
app/view/*
!app/view/layout.html
!app/view/.gitkeep
package-lock.json
.env
jenkins-test-results.xml
