<!DOCTYPE html>
<html lang="en">
<head>
  <title>KeepWork</title>
  <meta name="keywords" content="编程，3D动画，动画，教育，少儿编程，未来教育，keepwork，趣味编程，编程学习，青少年编程，游戏制作，项目式学习，Paracraft，原创社区，小孩学编程，儿童编程，动画编程，做游戏，动画制作">
  <meta name="description" content="keepwork是Paracraft3D动画与编程社区，keepwork社区基于3D动画与编程工具Paracraft,致力于为所有喜欢3D动画与编程的朋友，提供一个创作、发表、交流作品的平台。">
  <meta property="og:image" content="https://keepwork.com/public/img/logo_old.e8c52c5c.svg">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_667420_axyaq2niukf.css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?ff8bdaa7515729aeadde8557e43b841a";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
  <div id="app"><!--vue-ssr-outlet--></div>
</body>
</html>
