<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
.box{
  height: 300px;
  width: 300px;
  border: 1px solid red;
  background-image: url('../../assets/pblImg/lesson_paracraft.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: -30px;
}
</style>
<body>
  <div class="box">

  </div>
</body>
</html>